<h3>I'm Zhao</h3>
<a href="#">用户管理</a>
<a href="#">充值码管理</a>
<a href="#">用户充值</a>
<p>用户管理页面(默认进去是index页面，列出所有user(name, coin_count),有操作: 查看／编辑／删除)</p>
<p>充值码管理页面(默认进去是index页面，列出所有exchange_code(code, coin_count, user_name, date),有操作: 查看／编辑／删除)</p>
<p>用户充值页面(选择用户，输入充值码, 点击提交)</p>

